version: "3.8"

services:
  jenkins:
    build: ./jenkins
    container_name: jenkins
    user: root
    network_mode: host  
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
    restart: always

volumes:
  jenkins_home:
