version: "3.8"

services:
  jenkins:
    build: ./jenkins
    container_name: jenkins
    user: root
    ports:
      - "8080:8080"
      - "8081:8081"
    volumes:
      - jenkins_home:/var/jenkins_home
      - ~/.kube:/root/.kube
      - /var/run/docker.sock:/var/run/docker.sock

    restart: always

volumes:
  jenkins_home:
